
/*@font-face {
    font-family: "take";
    src: url("../assets/Fonts/Take cover.ttf");
}
*/

.navbar-brand  
{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px !important;
letter-spacing: 12px;
}

i{
font-size: 30px;
}

i:hover{
color: #000000;
font-weight: bolder;
border-radius: 15px;
}




