
<div class="container">
<div class="container border border-secondary rounded-lg mb-4 mt-4 p-0  my-4">
  <div class="container-fluid bg-dark text-white py-3">
    <h1 class="text-center">Rutinas GYM GENERICO</h1>
  </div>
  
  <!-- Formulario -->
<div class="container rounded-lg mt-4 py-3 px-4 my-4 ">
  <h1 class="text-center">{{ pageTitle }}</h1>

  <form (ngSubmit)="UpdateActividad1()">

    <div class="form-group">
      <label for="nombreActividad">Nombre:</label>
      <input type="text" class="form-control" id="nombreActividad" name="nombreActividad" [(ngModel)]="nombreActividad" placeholder="Ingrese nombre de actividad" required>
    </div>
    <div class="form-group">
      <label for="turnoAct">Turno:</label>
      <input type="text" class="form-control" id="turnoAct" name="turnoAct" [(ngModel)]="turnoAct" placeholder="Ingrese turno de actividad" required>
    </div>
    <div class="form-group">
      <label for="horaInicio">Hora de Inicio:</label>
      <input type="text" class="form-control" id="horaInicio" name="horaInicio" [(ngModel)]="horaInicio" placeholder="Ingrese hora de inicio de actividad" required>
    </div>   
    <div class="form-group">
      <label for="horaFin">Hora de Fin:</label>
      <input type="text" class="form-control" id="horaFin" name="horaFin" [(ngModel)]="horaFin" placeholder="Ingrese hora final de actividad" required>
    </div>   


    <!-- Descripción -->
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" rows="3" placeholder="Ingrese la descripción" required></textarea>
    </div>

    <div class="form-group">
      <label for="cupo">Cantidad de cupos:</label>
      <input type="number" class="form-control" id="cupo" name="cupo" [(ngModel)]="cupo"placeholder="Ingrese la cantidad de cupos" required>
    </div>

      <!-- Botones -->
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary mx-2">Guardar</button>
      <button type="button" class="btn btn-secondary mx-2" routerLink="/actividad">Cancelar</button>
    </div>

  </form>
</div>

</div>
</div>


