#
coverage

# Keep environment variables out of version control, 
.env

#dependency directory
**/node_modules 

# OS metadata
.DS_Store
Thumbs.db

# ignore built ts files
dist/**/*

# vscode
#.vscode/*
!.vscode/settings.json
!tasks
launch
extensions
*.code-snippets

# local history for vscode
.history/

# built vscode extensions
*.vsix