<div class="container-fluid py-5 pb-5 bg-dark text-light">
  <h2 class="mb-4 ">Donde podes encontrarnos:</h2>

  <div class="row text-md-left ">
    <div class="col-md-6 text-wrap  " >
      <!-- Detalles de la ubicación -->
      <h4 >Dirección</h4>
      <p>123 Gym Street, Fitness City</p>
      
      <h4>Teléfono</h4>
      <p>+123 456 7890</p>
      
      <h4>Horarios</h4>
      <p>Lunes - Viernes: 6:00 AM - 10:00 PM<br>
         Sábado - Domingo: 8:00 AM - 6:00 PM</p>
      
      <h4>Instrucciones para Llegar</h4>
      <p class="text-wrap">Desde la Avenida Principal, gira a la izquierda en la Calle Fitness. El gimnasio estará a tu derecha.</p>
      
      <h4>Estacionamiento</h4>
      <p>Estacionamiento gratuito disponible en el lugar.</p>

    </div>
    <div class="col-md-6">
      <!-- Imagen de la ubicación -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53572.036158904186!2d-60.70830087832029!3d-32.94434869999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7abeb2871cbab%3A0x29ab9d1a2032b05b!2sGimnasio%20Smart%20Fit%20-%20Rosario!5e0!3m2!1ses!2sar!4v1694135379046!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>


</div>




