<!--en construccion -->
<div class="container border border-secondary rounded-lg mb-4 mt-4 p-0 h-100 my-4">
  <div class="container-fluid bg-dark text-white py-3">
    <h1 class="text-center">Rutinas GYM GENERICO</h1>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-secondary" routerLink="/rutinasAdd">+ Nueva</button>
        
      </div>
      <div class="col-6 text-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <div class="input-group-append ">
            <button class="btn btn-dark" type="button">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="input-group mt-3">
    <select class="custom-select" id="selectRegistros">
      <option value="10">10 registros</option>
      <option value="20">20 registros</option>
      <option value="50">50 registros</option>
      <option value="100">100 registros</option>
    </select>
    </div>

  <div class="container mt-4">
    <div class="container mt-4">
    <div class="row">
      <div class="col">
        <!-- Encabezados de las columnas -->
      <div class="form-group row">
        <label class="col-md-3">{{ rutinas[0].label }}</label>
        <label class="col-md-3">{{ rutinas[1].label }}</label>
        <label class="col-md-3">{{ rutinas[2].label }}</label>
        <label class="col-md-3">{{ rutinas[3].label }}</label>
      </div>

        <!-- Datos de ejemplo -->
      <div *ngFor ="let rutina of rutinas" class="form-group row">
        <div class="col-md-3">
          {{ rutina.idRutinaGenerica }}
        </div>
        <div class="col-md-3">
          {{rutina.ActividadFk}}
        </div>
        <div class="col-md-3">
          {{rutina.DescripcionRutina}}
        </div>
        <div class="col-md-3">
          {{rutina.fechaActualizacion}}
        </div>
      </div>
      </div>
    </div>
    </div>
  

</div>

<app-footer> </app-footer>

