<div class="HeroSection">
  <div id="carouselExampleDark" class="carousel carousel-dark slide rounded">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="../../../assets/statics/img/potenciamos tu biniestar.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="../../../assets/statics/img/No hay atajos para alcanzar el éxito. (1).png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/statics/img/No hay atajos para alcanzar el éxito. (2).png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container-fluid  bg-dark bg-gradient" id="Filosofia_bullet_points">
  <h2 class="text-center">Nuestra Filosofia</h2>
  <h3 class="text-center"> es para todos y esa es nuestra filosofía.</h3>
  <div class="container my-3"></div>

  <div class="container  " >
    <div class="row">
      <!-- item 1 -->
      <div class="col-md-4">
        <div class="item">
          <nav class="accordion arrows">
            <input type="radio" name="accordion" id="cb4" />
            <section class="box">
              <label class="box-title" for="cb4">filosofia 1</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Click on an item to open. Click on its header or the list header
                to close.
              </div>
            </section>
            <input type="radio" name="accordion" id="cb5" />
            <section class="box">
              <label class="box-title" for="cb5">Rfilosofia 2</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Add the class 'arrows' to nav.accordion to add dropdown arrows.
              </div>
            </section>
            <input type="radio" name="accordion" id="cb6" />
            <section class="box">
              <label class="box-title" for="cb6">filosofia 3</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Quisque finibus tristique nisi, maximus
                ullamcorper ante finibus eget.
              </div>
            </section>

            <input type="radio" name="accordion" id="acc-close" />
          </nav>
        </div>
      </div>
      <!-- item2 -->
      <div class="col-md-4">
        <div class="item">
          <nav class="accordion arrows">
            <input type="radio" name="accordion" id="cb7" />
            <section class="box">
              <label class="box-title" for="cb7">filosofia 4</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Click on an item to open. Click on its header or the list header
                to close.
              </div>
            </section>
            <input type="radio" name="accordion" id="cb8" />
            <section class="box">
              <label class="box-title" for="cb8">filosofia 5</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Add the class 'arrows' to nav.accordion to add dropdown arrows.
              </div>
            </section>
            <input type="radio" name="accordion" id="cb9" />
            <section class="box">
              <label class="box-title" for="cb9">filosofia 6</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Quisque finibus tristique nisi, maximus
                ullamcorper ante finibus eget.
              </div>
            </section>

            <input type="radio" name="accordion" id="acc-close" />
          </nav>
        </div>
      </div>

      <!-- item3 -->
      <div class="col-md-4">
        <div class="item">
          <nav class="accordion arrows">
            <input type="radio" name="accordion" id="cb1" />
            <section class="box">
              <label class="box-title" for="cb1">filosofia 7</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Click on an item to open. Click on its header or the list header
                to close.
              </div>
            </section>
            <input type="radio" name="accordion" id="cb2" />
            <section class="box">
              <label class="box-title" for="cb2">filosofia 8</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Add the class 'arrows' to nav.accordion to add dropdown arrows.
              </div>
            </section>
            <input type="radio" name="accordion" id="cb3" />
            <section class="box">
              <label class="box-title" for="cb3">filosofia 9</label>
              <label class="box-close" for="acc-close"></label>
              <div class="box-content">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                posuere cubilia Curae; Quisque finibus tristique nisi, maximus
                ullamcorper ante finibus eget.
              </div>
            </section>

            <input type="radio" name="accordion" id="acc-close" />
          </nav>
        </div>
      </div>
    </div>
  </div>


<div class="  overflow-hidden text-center py-3 
container-fluid" id="fraseMotivacional">
  <div class="row"> 
    <div class="col-md-8">
      <div class="item">Ítem 1</div>
    </div>
    <div class="col-md-4">
      <div class="item">
       
          <img src="../../../assets/statics/img/mina-PhotoRoom.png-PhotoRoom.png" alt="" class="w-100  mx-4" >
       
      </div>
    </div>
    
  </div>
</div>
</div>
