<!-- navbar -->
<!-- <nav
  class="navbar navbar-expand-lg navbar-light bg-warning fs-6"
  style="--bs-bg-opacity: 0.55"
>
  <a class="navbar-brand mx-5 fs-5 fw-bolder" href="">GYM</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div 
    class="collapse navbar-collapse  justify-content-center  fw-bold"
    id="navbarNav"
  >
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link" href="">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ubicaciones">Ubicaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <p *ngIf="usuario">
        <li class="nav-item">
          <a class="nav-link" routerLink="/Perfil">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/imc">IMC</a>
          </li>
        
    </p>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <button
        id="loginButton"
        type="button"
        class="btn p-3 mx-5"
        routerLink="/login"
      >
        <a class="nav-link"><i class="bi bi-person-up"></i></a>
      </button>
    </li>
  </ul>
</nav>
 -->


<nav class="navbar navbar-expand-lg navbar-light bg-warning fs-6" style="--bs-bg-opacity: 0.55">
    <div class="container">
      <a class="navbar-brand mx-4 fw-bolder " href="#">GYM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-center fw-bolder fs-6" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/ubicaciones">Ubicaciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/blog">Blog</a>
              </li>
               
              <ul  class="navbar-nav" *ngIf="this.Actualiza.GUser;">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/user">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/imc">IMC</a>
                  </li>
                </ul>
                
            
        </ul>
      </div>
    </div>
    <ul class="navbar-nav" *ngIf="!this.Actualiza.GUser;">
        <li class="nav-item">
          <button
            id="loginButton"
            type="button"
            class="btn p-3 mx-5"
            routerLink="/login"
          >
            <a class="nav-link"><i class="bi bi-person-up"></i></a>
          </button>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="this.Actualiza.GUser;">
        <li class="nav-item">
          <button
            id="loginButton"
            type="button"
            class="btn p-3 mx-5"
            (click)="this.logInservice.logOut()">
          >
            <a class="nav-link"><i class="bi bi-box-arrow-in-left"></i></a>
          </button>
        </li>
      </ul>

    
  </nav>
  