<!--en construccion -->
<div class="container border border-secondary rounded-lg mb-4 mt-4 p-0 h-100 my-4">
  <div class="container-fluid bg-dark text-white py-3">
    <h1 class="text-center">Rutinas GYM GENERICO</h1>
  </div>
  
  <!-- Formulario -->
<div class="container rounded-lg mt-4 py-3 px-4 my-4 ">
  <h1 class="text-center">Nuevo Rol</h1>

  <form (ngSubmit)="postRoles()">

    <div class="form-group">
      <label for="nroActividad">Nombre:</label>
      <input type="text" class="form-control" id="nombreRol" name="nombreRol" [(ngModel)]="nombreRol" placeholder="Ingrese el nombre del rol" required>
    </div>

  <div class="form-group">
    <label for="descripcionRol">Descripción del Rol:</label>
    <textarea class="form-control" id="descripcionRol" name="descripcionRol" rows="3" [(ngModel)]="descripcionRol" placeholder="Ingrese la descripción" required></textarea>
  </div>

      <!-- Botones -->
<div class="text-center mt-4">
  <button type="submit" class="btn btn-primary mx-2">Guardar</button>
  <button type="button" class="btn btn-secondary mx-2" routerLink="/roles">Cancelar</button>
</div>


  </form>
</div>


</div>

<app-footer> </app-footer>

