
      <div style="height: 88vh !important ;background-color: #1A1E21;" class="mx-auto  " >
        
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h5 class="card-title fs-3 fw-bold text-center">Pagar una cuota </h5>
                            <form (submit)="this.RealizarPago()">
                                <div class="mb-3">
                                    <label for="dni" class="form-label fs-6 ">DNI cliente</label>
                                    <input type="text" class="form-control" id="dni" [(ngModel)]="pago.dni"  name="dni" placeholder="Ingrese su DNI" required>                                   
                                </div>
                                
                                <div class="text-center"> 
                                    <button type="submit" class="btn btn-primary p-2">Pagar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
  </div>
   
  <router-outlet></router-outlet> 