<div class=" container-fluid contenedor overflow-hidden">
  <div class="row justify-content-center  ">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <div class="top-row"><i class="bi bi-person-fill-add"></i></div>
          <h3 class="card-title text-center fw-bolder">Registrar usuario</h3>
          <form id="registerForm" (submit)="VerificaContrasena()">
            <div class="row">
              <div class="col">
                <label>Nombre y Apellido</label>
                <div class="input-group ">
                  <div class="input-group-prepend">
                  </div>
                  <input type="text" [(ngModel)]="NewUser.nombre" name="nombre"
                    class="form-control rounded fs-5 border border-dark">
                  <input type="text" [(ngModel)]="NewUser.apellido" name="apellido"
                    class="form-control rounded fs-5 border border-dark">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="dni">DNI</label>
                  <input type="text" [(ngModel)]="NewUser.dni" class="text" id="DNI" name="dni" required />
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="password"> Contraseña</label>
                  <input type="password"   [(ngModel)]="NewUser.Contrase_a" class="text" id="password" name="contrasena"
                    required />
                </div>
              </div>
              <div class="col">
                <div class="col">
                  <div class="form-group">
                    <label for="RepetirContrasena">Repetir Contraseña</label>
                    <input type="password" [(ngModel)]="RepetirContrasena" name="RepetirContrasena" class="text"
                      id="RepetirContrasena" required />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="direccion">Direccion</label>
                  <input type="text" [(ngModel)]="NewUser.direccion" class="text" id="direccion" name="direccion"
                    required />
                </div>
              </div>
              <div class="col">
                <div class="col">
                  <div class="form-group">
                    <label for="phone">Telefono celular</label>
                    <input type="tel" [(ngModel)]="NewUser.telefono" name="telefono" class="text" id="phone" required />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="email"> email</label>
                  <input type="email" [(ngModel)]="NewUser.email" name="email" class="text" id="email" required />
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="sexo">Sexo</label>
                  <select [(ngModel)]="NewUser.sexo" class="text" id="gender" name="sexo">
                    <option  value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
              </div>
            </div>
            <div #toast></div>
            <div class="form-group text-center">
              <button class="button">Registrarme</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>