<div class="contenedor">
    <div class="card">
        <div class="top-row "> <i class="fa-solid fa-circle-user"></i></div>
        <div class="content"> 
            <h1>Login <i class="fa-solid fa-lock"></i></h1>
            <form (submit)="Ingresar()">
            <p>DNI</p> <input type="text" [(ngModel)]="user.dni" class="text" name="dni">
            <p class="my-3">Contraseña</p> <input type="password" [(ngModel)]="user.contrasena" name="contrasena" class="text" > 
            <button class="button ">Empezar</button>
            
            <p class="my-3">¿No tienes cuenta? <a routerLink="/signin">Registrate</a></p>
            </form>

        </div>

    </div>
</div>