.contenedor{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FBAB7E;
 background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}


.card {
    border-radius: 1.5rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    overflow: hidden;
    width: 25rem;
    height: 38rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.060);
}


.content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
font-weight: bolder;    
}
.content i {
    font-size: 2rem;
    margin-top: 1rem;
}

.content p {
    font-size: 1.2rem;
    align-self: flex-start;
}


.text {
    width: 100%;
    height: 3rem;
    color: rgb(97, 94, 94);
    font-size: 1.2rem;
    border-radius: 15px;
}

.button {
    border-radius: 3rem;
    color: var(--white-text);
    font-size: 1.2rem;
    padding: .5rem .3rem;
    margin-top: 3rem;
    letter-spacing: .1rem;
    background-color: rgba(174, 58, 180, .3);
    width: 50%;
    height: 3rem;

}
.top-row {

    display: flex;
    flex-direction: column;
    align-items:center;
}
.top-row i {
    font-size: 6rem;
    margin-top: 3rem;
}

@media (max-width:1030px) {
    .contenedor {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
}
@media (max-width:1030px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
}

