<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sideUserNav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <p class="mx-auto fs-3 mt-2">Bienvenido Profesor {{this.nombre}}</p>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sideUserNav mode="push" style="width: 20%">
      <mat-nav-list >
       
        <a mat-list-item routerLink="/profesores">Pago De Cuota</a>
        <a mat-list-item routerLink="/actividad">Actividad</a>
        <a mat-list-item  routerLink="/actividadDocente">Mi actividad</a>
        <a mat-list-item  routerLink="/blogCRUD">Blog</a>
        <a mat-list-item routerLink="/ActualizarDatosDocentes">Perfil</a>
        <a mat-list-item routerLink="/BanUsuario">Banear usuario</a>
        <a mat-list-item routerLink="/rutinasPerso">Rutinas persona</a>
        <a mat-list-item routerLink="/personaacargoactividad">Personas a cargo de las actividades</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh !important " class="mx-auto  " >
        
        <app-actualizar-datos></app-actualizar-datos>
        
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <router-outlet></router-outlet> 