<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sideUserNav.toggle();"><mat-icon>menu</mat-icon></button>
    <p class="mx-auto fs-3 mt-2" >Gestion de usuario</p>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sideUserNav mode="side" style="width: 20%;">
    <mat-nav-list class="text-center " >
      <a mat-list-item class="p-4"  routerLink="/pagos">Cuota</a>
      <a mat-list-item class="p-4" routerLink="">Rutinas</a>
      <a mat-list-item class="p-4" routerLink="/user">Perfil</a>
      <a mat-list-item class="p-4" routerLink="/user">Inscripcion</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <div style="height: 88vh !important" >
    <router-outlet></router-outlet> </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>
