tr[role="row"]:hover {
    background-color: #FFDD77;
    cursor: pointer;

}

/* tr[role="row"]:hover {
    background-color: #FFDD77;
    cursor: pointer;

}
 */

 /* tr[role="row"]:hover {
    background-color: #FFDD77;
    cursor: pointer;

}
 */
  /* tr[role="row"]:hover {
    background-color: #FFDD77;
    cursor: pointer;

}
 */